.App{
  display: flex;
  justify-content: center;
  align-items: center;
}
.tareas{
  min-width: 350px;
  min-height: 500px;
  background-color: #a8a8ab;
  padding: 25px;
  margin: 50px 10px;
  border-radius: 25px;
}
.tareas h1 {
  color: black;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}